.button {
    padding: 9px 20px;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    background: #6C3EB8;
    transition: all 0.4s;

    &:hover {
        background: #fff;
        color: #6C3EB8;
    }
}

.button__disabled {
    padding: 9px 20px;
    border-radius: 6px;
    color: #B8B8B8;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    background: #576067;
    transition: all 0.4s;
}

@media (max-width:760px) {
    .button {
        font-size: 12px;
    }

    .button__disabled {
        font-size: 12px;
    }
}

@media (max-width:520px) {
    .button {
        font-size: 14px;
        padding: 5px 14px;
    }

    .button__disabled {
        font-size: 14px;
        padding: 5px 14px;
    }
}

@media (max-width:433px) {
    .button {
        // width: 60px;
        font-size: 12px;
        padding: 3px 5px;
    }

    .button__disabled {
        // width: auto;
        font-size: 12px;
        padding: 3px 5px;
    }
}