.product {
    cursor: pointer;
    background: #212123;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s;
    width: 220px;
    height: 314px;
    margin: 0 10px 20px;
    padding-bottom: 14px;

    &:hover {
        filter: contrast(120%) drop-shadow(0 0 7px white);
    }

    &__image {
        img {
            width: 230px;
            height: 200px;
        }
    }

    &__title {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        color: white;
        padding: 10px 0 12px 12px;

    }

    &__name {
        padding-left: 12px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        color: #B8B8B8;
        padding-bottom: 28px;

    }

    &__info {
        padding-left: 12px;
        display: flex;
        align-items: center;
        padding-bottom: 8px;

        .price {
            &-new {
                color: #6C3EB8;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 700;
                padding-right: 5px;
            }

            &-old {
                text-decoration: line-through;
                font-family: Montserrat;
                font-size: 13px;
                font-weight: 500;
                color: #576067;
                padding-right: 33px;
            }
        }

        .sales {
            font-family: Montserrat;
            font-size: 10px;
            font-weight: 500;
            color: #576067;
        }
    }
}

@media (max-width:560px) {
    .product {
        width: 140px;
        height: 254px;
        margin: 0 10px 10px;
        padding-bottom: 8px;
        text-align: center;

        &__image {
            img {
                width: 140px;
                height: 120px;
            }
        }

        .product__title {
            font-size: 12px;
            padding: 8px;
        }

        .product__name {
            padding: 0 0 12px;
        }

        .product__info {
            display: block;
            padding: 0;

            .price {

                &-new {
                    display: block;
                    margin-bottom: 8px;
                    padding: 0;
                }

                &-old {
                    display: block;
                    padding: 0;
                    margin-bottom: 6px;
                }
            }
        }
    }
}