.trending {
    background-color: #191919;
    padding: 0 22px 24px 22px;


    &__cards {
        padding-bottom: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .forCenterButton {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:560px) {
    .trending {

        &__cards {
            padding: 14px 0;
            width: 100%;
            overflow: auto;
            justify-content: flex-start;
            flex-wrap: nowrap;
        }

    }
}