.trending {
    background-color: #191919;
    padding: 0 22px 24px 22px;


    &__cards {
        padding-bottom: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .forCenterButton {
        display: flex;
        justify-content: center;
    }
}