.background {
    position: relative;
    background: #212123;
    // background: #c7c7e1;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 24px;
    // overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 13px;
    margin: 0 auto;
    // overflow: hidden;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.background__opacity {
    position: relative;
    background: #212123;
    height: 100vh;
    padding-bottom: 24px;
    overflow: hidden;

    .container {
        overflow: hidden;
        opacity: 0.1;
    }
}

@media (max-width:710px) {
    .main {
        display: block;
    }
}

@media (max-width:545px) {
    .main {
        flex-direction: column;
    }
}