.card_bin {
    background: #191919;
    padding: 0 27px 0 35px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    max-width: 950px;
    width: 100%;
    overflow-y: auto;

    &__title {
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        padding: 25px 0 16px 0;
    }

    &_main {
        flex: 1 0 auto;

        .card_bin__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgba(33, 33, 35, 1);
            padding: 16px 12px;
            border-radius: 8px;
            margin-bottom: 20px;


            &:last-child {
                margin-bottom: 30px;
            }

            &_image {

                img {
                    width: 100px;
                    height: 60px;
                    border-radius: 6px;
                }
            }

            &_desc {

                .desc__title {
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 600;
                    color: rgba(255, 255, 255, 1);
                    margin-bottom: 3px;
                }

                .desc__category {
                    font-family: Montserrat;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 12px;
                    color: rgba(184, 184, 184, 1);
                }
            }

            &_price {
                text-decoration: line-through;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: rgba(255, 255, 255, 1);
            }

            &_quentity {
                display: flex;
                align-items: center;

                .minus {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    background: rgba(87, 96, 103, 1);
                    border-radius: 6px;
                    transition: all 0.3s;

                    &:hover {
                        background: rgba(108, 62, 184, 1);
                    }
                }

                .count {
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 17px;
                    color: rgba(87, 96, 103, 1);
                    padding: 0 16px;
                }

                .plus {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    background: rgba(87, 96, 103, 1);
                    border-radius: 6px;
                    transition: all 0.3s;

                    &:hover {
                        background: rgba(108, 62, 184, 1);
                    }
                }
            }

            &_new_price {
                font-family: Montserrat;
                font-size: 22px;
                font-weight: 700;
                line-height: 27px;
                color: rgba(108, 62, 184, 1);
                margin-right: 44px;
            }

            .close {
                cursor: pointer;
                padding-right: 20px;
            }
        }
    }

    &__result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;

        .totalPrice {
            text-transform: uppercase;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            color: rgba(184, 184, 184, 1);

            b {
                color: rgba(255, 255, 255, 1);
            }

        }
    }
}

@media (max-width:950px) {
    .card_bin {

        &__title {
            font-size: 17px;
            padding: 20px 0 10px;
        }

        &_main {
            span {
                .card_bin__item {
                    margin-bottom: 10px;


                    &_image {
                        img {
                            width: 72px;
                            height: 65px;
                        }
                    }

                    &_price {
                        font-size: 16px;
                    }

                    // &_quentity {}

                    &_new_price {
                        font-size: 16px;
                        margin: 0;
                    }

                    .close {
                        padding-right: 5px;
                    }
                }
            }
        }

        &__result {
            padding-bottom: 18px;

            .totalPrice {
                font-size: 16px;
            }
        }
    }
}

@media (max-width:600px) {
    .card_bin_main {
        span {
            .card_bin__item {
                padding: 10px 6px;

                &:last-child {
                    margin-bottom: 15px;
                }

                &_image {

                    padding-right: 4px;

                    img {
                        width: 60px;
                        height: 50px;
                    }

                }

                &_desc {
                    width: 100%;
                    max-width: 130px;

                    .desc__title {
                        font-size: 11px;
                        margin-bottom: 6px;
                    }

                    .desc__category {
                        font-size: 8px;
                    }
                }

                &_price {
                    padding-right: 4px;
                    font-size: 14px;
                }

                &_quentity {
                    .count {
                        padding: 0 6px;
                        font-size: 14px;
                    }

                    .minus {
                        width: 20px;
                        height: 20px;

                        svg {
                            width: 10px;
                        }
                    }

                    .plus {
                        width: 20px;
                        height: 20px;

                        svg {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }

                &_new_price {
                    padding: 0 2px;
                    font-size: 12px;
                }
            }
        }
    }

    .card_bin__result {
        .totalPrice {
            font-size: 12px;
        }
    }
}

@media (max-width:468px) {
    .card_bin_main {
        span {
            .card_bin__item {
                position: relative;
                text-align: center;
                flex-direction: column;


                &_image {
                    padding-right: 0;
                    margin-bottom: 15px;

                    img {
                        width: 90px;
                        height: 90px;
                    }
                }

                &_desc {
                    .desc__title {
                        font-size: 15px;
                    }

                    .desc__category {
                        font-size: 12px;
                        margin-bottom: 5px;
                    }
                }

                &_price {
                    padding-right: 0;
                    font-size: 17px;
                    margin-bottom: 8px;
                }

                &_quentity {
                    margin-bottom: 8px;

                    .count {
                        padding: 0 10px;
                        font-size: 20px;
                    }

                    .minus {
                        width: 35px;
                        height: 35px;

                        svg {
                            width: 20px;
                        }
                    }

                    .plus {
                        width: 35px;
                        height: 35px;

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                &_new_price {
                    padding: 0;
                    font-size: 22px;
                    margin-bottom: 5px;
                }

                .close {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }
            }
        }
    }

    .card_bin__result {
        display: flex;
        flex-direction: column;

        .totalPrice {
            margin-bottom: 5px;
        }
    }
}