.login {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    // align-items: center;
    height: 954px;
    width: 100%;
    max-width: 320px;
    background: rgb(0, 0, 0);
    z-index: 12;

    &__register {
        margin-bottom: 30px;
        position: relative;
        text-align: center;
        z-index: 15;
        padding: 24px 0;

        .login__title {
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 400;
            color: rgba(246, 246, 247, 1);


        }

        .login__close {
            cursor: pointer;
            position: absolute;
            top: 14px;
            right: 14px;
        }

    }


    input {
        display: block;
        max-height: 40px;
        width: 272px;
        padding: 12px 0 12px 24px;
        border-radius: 8px;
        margin: 0 auto 16px;
        background: rgba(33, 33, 35, 1);
        color: rgba(246, 246, 247, 1);
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;

        &:focus {
            border: 1px solid rgba(108, 62, 184, 1);
        }
    }

    &ForButton {
        margin-top: 8px;
        display: flex;
        justify-content: center;

    }
}