.banner {
    max-width: 950px;
    width: 100%;
    height: 423px;
    position: relative;
    background: #191919;
    padding: 0 27px 0 35px;
    border-radius: 6px;
    overflow: hidden;

    &__image {
        z-index: 1;
        position: absolute;
        right: 41px;
        bottom: -24px;
    }

    &__sale {
        font-family: Montserrat;
        font-size: 119px;
        font-weight: 900;
        line-height: 145px;
        color: #616E74;
        opacity: 0.2;
        margin-bottom: 10px;
    }
}

.year {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #616E74;
    margin-bottom: 8px;
}

.main_title {
    z-index: 9;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    margin-bottom: 24px;
    color: #F6F6F7;
}

.banner__product {
    margin-top: 24px;
    display: flex;

    .product__image {
        margin-right: 20px;
    }

    .product__slider {
        display: flex;
        flex-direction: column;
        margin-right: 31px;

        .slider {
            cursor: pointer;
            width: 90px;
            height: 90px;
            border-radius: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .product__info_card {
        display: flex;
        flex-direction: column;

        .product__title_name {
            display: block;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 10px;
        }

        .product__price {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 20px;
        }

        .product__color {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            color: #576067;
            margin-bottom: 16px;

            b {
                color: #F6F6F7;
            }
        }

        .product__size {
            margin-bottom: 20px;

            span {
                margin-right: 16px;
            }

            .item__size {
                cursor: pointer;
                margin-right: 5px;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0em;
                padding: 4px 8px;
                border-radius: 8px;
                background: #212123;

                &--active {
                    background: #8B57C6;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .product__description {
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            color: #B8B8B8;
            padding: 0 5px;
            margin-bottom: 20px;
            width: 400px;
            overflow: hidden;
        }

        .buttons {
            display: flex;
            margin-bottom: 103px;

            .marginForButton {
                display: inline;
                margin-right: 10px;
            }

        }

        .product__about {
            display: flex;
            align-items: flex-end;
            flex: 1 0 auto;

            .link {
                color: #576067;
                font-family: Montserrat;
                font-size: 10px;
                font-weight: 500;
                line-height: 12px;
                transition: all 0.3s;

                &:first-child {
                    margin-right: 180px;
                }

                &:hover {
                    color: #8B57C6;
                }
            }
        }
    }
}

@media (max-width:1302px) {
    .banner {
        padding: 0 15px;

        &__image {
            right: 0px;
        }

        &__sale {
            font-size: 90px;
            margin-bottom: 5px;
        }

        .main_title {
            font-size: 34px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width:1060px) {
    .banner {

        &__image {
            img {
                width: 340px;
                height: 250px;
            }

        }

        &__sale {
            font-size: 70px;
        }

        .main_title {
            font-size: 30px;
        }
    }

    .banner__product {

        .product__image {
            margin-right: 10px;

            img {
                width: 160px;
                height: 160px;
            }
        }

        .product__info_card {


            .product__title_name {
                font-size: 16px;
            }

            .product__price {
                font-size: 18px;
                margin-bottom: 14px;
            }

            .product__color {
                margin-bottom: 10px;
            }

            .product__description {
                font-size: 9px;
                margin-bottom: 10px;
            }

            .buttons {
                display: block;
                margin: 0;

                .marginForButton {
                    display: block;
                    margin: 0;
                    margin-bottom: 16px;
                }

            }
        }

    }
}

@media (max-width:907px) {
    .banner {

        height: auto;

        &__image {
            display: none;

        }

        &__sale {
            font-size: 50px;
            line-height: 55px;
            margin-bottom: 0;
        }

        .year {
            font-size: 30px;
        }

        .main_title {
            margin-bottom: 35px;
        }
    }
}

@media (max-width:710px) {
    .banner {
        text-align: center;
        padding-bottom: 10px;

        &__sale {
            font-size: 45px;
            margin-bottom: 10px;
        }

        .year {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .main_title {
            font-size: 20px;
            letter-spacing: 0.1em;
            line-height: 30px;
            margin-bottom: 45px;
        }
    }


    .banner__product {

        flex-direction: column;
        margin-top: 15px;
        padding: 10px 0;

        .product__image {
            margin: 0 0 8px;
        }

        .product__slider {
            flex-direction: row;
            justify-content: center;
            margin: 0 auto 8px;

            .slider {
                margin: 0;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .product__info_card {
            align-items: center;
            text-align: center;

            .product__title_name {
                text-align: center;
                font-size: 24px;
                line-height: 35px;
                padding: 10px 0 5px;
            }

            .product__price {
                font-size: 28px;
                margin-bottom: 18px;
            }

            .product__color {
                font-size: 18px;
                margin-bottom: 10px;
            }

            .product__description {
                font-size: 14px;
                max-width: 500px;
                padding: 0 5px;
                margin-bottom: 10px;
            }

            .buttons {
                margin-bottom: 16px;

                .marginForButton {
                    display: block;
                    margin: 0;
                    margin-bottom: 16px;
                }

            }
        }

    }



}

@media (max-width:330px) {

    .banner__product {

        .product__slider {
            justify-content: flex-start;
            width: 100%;
            overflow: auto;
        }

    }

}